* {
    margin: 0;
}

html{
    
}

.body {
    width: 100%;
}

.cabprofile {
    background-color: rgb(0, 3, 20);
    width: 22vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
}

.containerprofile {
    margin-top: 5vh;
    height: 60vh;
    width: 25vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.imagemprofile {
    max-width: 60%;
    border: 8px solid #2c2f3f;
    border-radius: 100%;
}

.nome {
    text-decoration-line: none;
    color: white;
    font-size: 24px;
}

.nav1 {
    margin-top: 15px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2f3f;
    border-radius: 100%;
    padding: 8px;
}

.github:hover {
    background-color: #00b7ff;
}

.insta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2f3f;
    border-radius: 100%;
    padding: 8px;
}

.insta:hover {
    background-color: #00b7ff;
}

.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2f3f;
    border-radius: 100%;
    padding: 8px;
}

.whatsapp:hover {
    background-color: #00b7ff;
}

.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2f3f;
    border-radius: 100%;
    padding: 8px;
}

.linkedin:hover {
    background-color: #00b7ff;
}

.nav2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sobre {
    text-decoration: none;
    display: flex;
    gap: 15px;
    color: #a0a0a0;
}

.sobre:hover {
    color: #00b7ff;
}

.exp {
    text-decoration: none;
    display: flex;
    gap: 15px;
    color: #a0a0a0;
}

.exp:hover {
    color: #00b7ff;
}

.habi {
    text-decoration: none;
    display: flex;
    gap: 15px;
    color: #a0a0a0;
}

.habi:hover {
    color: #00b7ff;
}


.dep {
    text-decoration: none;
    display: flex;
    gap: 15px;
    color: #a0a0a0;
}

.dep:hover {
    color: #00b7ff;
}


.main {
    width: 77%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 22vw;
    font-family: "Inter", sans-serif;
}



.sobremain {
    margin-top: 60px;
}

.linha {
    border: 1px solid #000285;
    margin-left: 20px;
    margin-top: 20px;

}

.containersobre {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.cabeçalho {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulosmain {
    color: #000285;
    font-size: 30px;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
}

.conteudosobre {
    display: flex;
    gap: 40px;
}

.imagem {
    display: flex;
    justify-content: center;
    height: 25vw;
}

.experiência {
    margin-top: 60px;
}

.containerexp {

    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.conteudoexp {
    display: flex;
    gap: 10px;
}

.profissão {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
    margin-left: 15px;
}

.escolaridade {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
    margin-right: 15px;
}

.descriçãoexp {
    background-color: #e6e6e6;
    padding: 15px;
    border-radius: 2ch;
}

.linksiteinst {
    color: #00b7ff;
    text-decoration-line: none;
}

.linksiteinst:hover {
    color: #75d8ff;

}

.habilidades {
    margin-top: 50px;
}

.containerhabi {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.conteudohab {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.descriçãohabi {
    padding: 15px;
    display: flex;
    width: 300px;
}

.containerdeschabi {
    display: flex;
    gap: 20px;
}

.iconhab {
    border: 2px solid white;
    border-radius: 100%;
    padding: 12px;
    width: 30px;
    height: 30px;
    transition: 1s ease;
}

.descriçãohabi:hover {
    .iconhab {
        border-color: #00b7ff;
    }
}

.depoimentos {
    margin-top: 50px;
}

.containerdep {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.conteudodep{
    gap: 5px;
    display: flex;
}

.depocid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.balaodep {
    background-color: #e6e6e6;
    padding: 15px;
    border-radius: 1ch;
    width: 20vw;
    text-align: center;
}
.fotodep{
    max-width: 15%;
    border-radius: 100%;
}
.descdep{
    text-align: center;

}



